* {
    box-sizing: border-box;
}

body {
    background-image: url("xp1080.jpg");
    background-repeat: repeat;
    font-family: sans-serif;
    color: black;
    max-width: 1024px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c1c1c;
    flex-basis: 100%;
    flex-wrap: wrap;
}

nav > ul > li {
    width: 100%;
    float: right;
}

nav > ul > li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #ffffff;
}

#content {
    background-color: cadetblue;
    padding: 10px;
    overflow: auto;
    min-height: 100%;
    flex-grow: 1;
}

.comments {
    border-width: 5px;
    border-style: solid;
    border-top-color: #3b3b3b;
    border-bottom-color: #3b3b3b;
    border-left: hidden;
    border-right: hidden;
}

img {
    object-fit: contain;
}

#visitCount {
    background-color: cadetblue;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: #1c1c1c;
    border-width: 2px;
}

@media only screen and (min-width: 800px) {
    nav > ul {
        flex-wrap: nowrap;
    }

    aside {
        width: auto;
        float: left;
    }

    article {
        width: auto;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        border-style: solid;
        border-color: #1c1c1c;
        border-bottom: hidden;
        border-top: hidden;
    }
}