* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif;
    color: black;
    max-width: 1024px;
    margin: auto;
    min-height: 100vh;
}

nav {
    width: 100%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c1c1c;
}

nav > ul > li {
    width: 100%;
    float: left;
}

nav > ul > li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #ffffff;
}

nav > ul > li a:hover {
    background-color: #323232;
}

.content {
    background-color: cadetblue;
    min-height: 100vh;
    padding: 10px;
}

aside {
    width: 100%;
}

aside > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personal_info {
    width: auto;
    padding: 18px;
}

.info_table {
    border-spacing: 8px;
    margin: 0 auto;
}

img {
    object-fit: contain;
}

.interest {
    overflow: auto;
}

.interest > img {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.code_demo {
    font-size: 8px;
    line-height: 7px;
}

@media only screen and (min-width: 800px) {
    nav > ul {
        display: flex;
    }

    aside {
        width: auto;
        float: left;
    }

    article {
        width: auto;
    }

    .info_table {
        float: left;
    }

    .interest > img {
        float: left;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        border-style: solid;
        border-color: #1c1c1c;
        border-bottom: hidden;
        border-top: hidden;
    }
}